.carousel-item::before{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#000;
    opacity:0.7;
}

@media screen and (max-width:600px){
    .carousel-caption{
        bottom:0px;
    }
    .heighter{
        height:370px;
    }

}

@media only screen and (min-width:610px){
    .carousel-caption{
        bottom:100px;
    }

}

@media only screen and (min-width:992px){
    .carousel-caption{
        bottom:250px;
    }

}


.card-title{
    color:rgb(71, 70, 70);

}

.compert{
    color:white;
    padding:5px;
    font-size:1.5em;
}